// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$light-green: #F3F6FA;
$muted-green: #5F9EA0;
$dark-green: #023020;
$muted-red:  #CB4C4E;
$muted-blue: #98b8d3;
$dark-blue: #145DA0;
$matte-black: #28282B;

.muted-green {
    color: $muted-green;
    &:hover {
        color: $dark-green;
    }
}

.muted-blue {
    color: $muted-blue;
    &:hover {
        color: $dark-blue;
    }
}

.matte-black {
    color: $matte-black;
    &:hover {
        color: $matte-black;
    }
}


.muted-red {
    color: $muted-red;
    &:hover {
        color: $muted-red;
    }
}
