.employees {
    &-button {
        border: 1px solid $muted-blue;
        background: $muted-blue;
    
        &:hover {
            border: 1px solid $muted-blue;
            color: $muted-blue;
        }
    }

    &-table {
        thead {
            background-color: $muted-blue;
            color: white;
            font-weight: 500;
            tr {
                &:hover {
                    background-color: $muted-blue;
                    color: white;
                }
            }
        }
        tr {
            &:hover {
                --bs-table-hover-bg: transparent;
            }
        }
    }
}